{% extends 'base.html' %}

{% block content %}
  <div class="box box-primary">
    <div class="box-header with-border">
      <h1 class="box-title">Tem certeza que deseja remove o pet abaixo?</h1>
    </div>

    <div class="box-body">
      <h5><strong>Nome:</strong> {{ pet.name }}</h5>
      <h5>
        <strong>Dono:</strong>
        <a href="{{ pet.owner.get_absolute_url }}">
          {{ pet.owner.name }}
        </a>
      </h5>
      <h5><strong>Data de Nascimento:</strong> {{ pet.birth_date }}</h5>
      <h5><strong>Espécie:</strong> {{ pet.get_specie_display }}</h5>
      <h5><strong>Cor:</strong> {{ pet.get_color_display }}</h5>

    </div>

    <div class="box-footer">
      <form method="POST">
        {% csrf_token %}
        <a
          href="{{ request.META.HTTP_REFERER }}"
          class="btn btn-default"
        >
          Não, me leve de volta!
        </a>
        <button class="btn btn-danger" type="submit">Sim, tenho certeza!</button>
      </form>
    </div>
  </div>
{% endblock content %}