{% extends 'base.html' %}

{% block content %}
  <section class="invoice">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="page-header">
          <i class="fa fa-heartbeat"></i> Consulta
          <small class="pull-right">Data: {{ appointment.created_date }}</small>
        </h2>
      </div>
    </div>

    <div class="row invoice-info">
      <div class="col-sm-4 invoice-col">
        <strong>Consulta</strong>
        <br>
        <strong>Data:</strong> {{ appointment.created_date }} <br>
        <strong>Motivo:</strong> {{ appointment.reason }} <br>
      </div>
      <div class="col-sm-4 invoice-col">
        <strong>Pet</strong>
        <br>
        <strong>Nome:</strong> {{ appointment.pet.name }} <br>
        <strong>Data de Nascimento:</strong> {{ appointment.pet.birth_date }} <br>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-12">
        <strong>Dados da Consulta</strong>
        <br>
        <strong>Data:</strong> {{ appointment.created_date }} <br>
        <strong>Motivo:</strong> {{ appointment.reason }} <br>
        <strong>Peso Atual:</strong> {{ appointment.current_weight }} <br>
        <strong>Medicamentos Prescritos:</strong> {{ appointment.prescribed_drugs }} <br>
        <strong>Exames Prescritos:</strong> {{ appointment.prescribed_exams }} <br>
      </div>
    </div>
    <div class="row no-print">
      <div class="col-xs-12">
        {% if request.user.role <= 2 %}
          <a
            type="button"
            class="btn btn-warning pull-left"
            style="margin-right: 5px;"
            href="{% url 'appointments:appointment-update' pk=appointment.pk %}"
          >
            <i class="fa fa-pencil"></i> Editar Consulta
          </a>
          <a
            type="button"
            class="btn btn-danger pull-left"
            href="{% url 'appointments:appointment-delete' pk=appointment.pk %}"
          >
            <i class="fa fa-pencil"></i> Remover Consulta
          </a>
        {% endif %}

        <a
          type="button"
          class="btn btn-primary pull-right"
          href="{% url 'appointments:appointment-send-mail' pk=appointment.pk %}"
        >
          <i class="fa fa-envelope"></i> Enviar email
        </a>
        <button
          type="button"
          class="btn btn-default pull-right"
          style="margin-right: 5px;"
          onclick="window.print()"
        >
          <i class="fa fa-print"></i> Imprimir
        </button>
      </div>
    </div>
  </section>

{% endblock content %}