{% extends 'base.html' %}

{% block content %}
<section class="content">
  <div class="row">
    <div class="col-md-3">

      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <h3 class="profile-username text-center">
            {{ client.name }}
          </h3>

          <p class="text-muted text-center">{{ client.occupation }}</p>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Data de Nascimento</b> <span class="pull-right">{{ client.birth_date}}</span>
            </li>
            <li class="list-group-item">
              <b>CPF</b> <span class="pull-right">{{ client.cpf }}</span>
            </li>
            <li class="list-group-item">
              <b>Email</b> <span class="pull-right">
                <a href="mailto:{{ client.email }}">{{ client.email }}</a>
              </span>
            </li>
            <li class="list-group-item">
              <b>Estado</b> <span class="pull-right">{{ client.address.state }}</span>
            </li>
            <li class="list-group-item">
              <b>Cidade</b> <span class="pull-right">{{ client.address.city }}</span>
            </li>
            <li class="list-group-item">
              <b>Rua</b> <span class="pull-right">{{ client.address.street }}</span>
            </li>
          </ul>

          <div class="box-footer">
            <a href="{% url 'clients:client-update' pk=client.pk %}" class="btn btn-warning btn-block">Editar Cliente</a>
            <a href="{% url 'clients:client-delete' pk=client.pk %}" class="btn btn-danger btn-block">Remover Cliente</a>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

      <!-- About Me Box -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Pets</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
        {% for pet in client.pet_set.all %}
          <a href="{{ pet.get_absolute_url }}">
            <strong><i class="fa fa-paw margin-r-5"></i> {{ pet.name }}</strong>
          </a>

          <p class="text-muted">
            {{ pet.get_specie_display }} - {{ pet.get_color_display }}
          </p>

          <hr>
        {% empty %}
          <p class="text-muted">
            Nenhum pet cadastrado
          </p>
        {% endfor %}

          <div class="box-footer">
            <a href="{% url 'pets:pet-create' owner_pk=client.pk %}" class="btn btn-primary btn-block">Cadastrar Pet</a>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#timeline" data-toggle="tab">Timeline</a></li>
        </ul>
        <div class="tab-content">
          <!-- /.tab-pane -->
          <div class="tab-pane active" id="timeline">
            <!-- The timeline -->
            <ul class="timeline timeline-inverse">
              {% for appointment in appointments %}
                <!-- timeline time label -->
                {% ifchanged appointment.created_date|date:"d/m/Y" %}
                    <li class="time-label">
                      <span class="bg-red">{{appointment.created_date|date:"d/m/Y"}}</span>
                    </li>
                {% endifchanged %}
                <!-- /.timeline-label -->
                <!-- timeline item -->
                <li>
                  <i class="fa fa-paw bg-blue"></i>

                  <div class="timeline-item">
                    <span class="time">
                      <i class="fa fa-calendar"></i> {{ appointment.created_date }}
                    </span>

                    <h3 class="timeline-header">
                      <a href="{{ appointment.pet.get_absolute_url }}">
                        {{ appointment.pet.name }}
                      </a> realizou uma nova consulta
                    </h3>

                    <div class="timeline-body">
                        {{ appointment.reason }}
                    </div>

                    <div class="timeline-footer">
                      <a href="{{ appointment.get_absolute_url }}" class="btn btn-primary btn-xs">
                        Visualizar consulta
                      </a>
                    </div>
                  </div>
                </li>
              {% endfor %}
              <li>
                <i class="fa fa-clock-o bg-gray"></i>
              </li>
            </ul>
          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

</section>
{% endblock content %}
